.modal-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header{
    display: flex;
    justify-content: flex-end;
}

.content{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .text{
        max-width: calc(100% - 30px);
    }
    .options{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;

        &:hover{
            cursor: pointer;
        }

        .back-button{
            color: #777777;

            &.disabled{
                cursor: not-allowed;
                pointer-events: none;
                opacity: 0.6
            }
        }

        .spinner-container{
            width: inherit;
            height: inherit;
            display: flex;
            align-items: center;
        }

    }
}

.c21-header-button{
    width: 30px;
    height: 30px;
}

button.c21-button-primary{
    margin: 0 !important;
    height: 30px !important;
    display: flex;
    align-items: center;

    .c21-label-button{
        margin: 0 !important;
    }
}