<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522823349790-q8m9iherm28n7vl8uo9klqhkt85ohj8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522823349790-q8m9iherm28n7vl8uo9klqhkt85ohj8g</string>
	<key>API_KEY</key>
	<string>AIzaSyAdGeIFqMHnfTSFsThRoEbaAYKjRaYZbnI</string>
	<key>GCM_SENDER_ID</key>
	<string>522823349790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.chat.ionic</string>
	<key>PROJECT_ID</key>
	<string>tiledesk-v3-prod-cf4ff</string>
	<key>STORAGE_BUCKET</key>
	<string>tiledesk-v3-prod-cf4ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522823349790:ios:7ea6d121437c2a441fa00f</string>
	<key>DATABASE_URL</key>
	<string>https://tiledesk-v3-prod-cf4ff-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>