@import 'src/app/sass/variables';

:host {
    --backgroundColor: #{var(--blue)};
    --textColor: #{var(--bck-msg-sent)};
    --hoverBackgroundColor: #{var(--bck-msg-sent)};
    --hoverTextColor: #{var(--blue)};
    --buttonFontSize: #{var(--button-in-msg-font-size)};
    --max-width: #{var(--button-in-msg-max-width)};
}

.button-in-msg {
    padding: 8px 16px!important;
    position: relative;
    max-width: var(--max-width);
    min-width: inherit;
    cursor: pointer;
    border: 1px solid var(--textColor);
    border-radius: 20px;
    margin: 3px;
    background: var(--backgroundColor);
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-size: var(--buttonFontSize);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    // // white-space: nowrap;
    word-wrap: break-word;
    letter-spacing: -0.24px;
    -webkit-font-smoothing: antialiased;
    color: var(--textColor);
    line-height: 16px;
}

.action {
    background: var(--backgroundColor);
    transition: background-color .6s ease;
    &:focus,
    &:hover {
        color: var(--hoverTextColor);
        background:  var(--hoverBackgroundColor);
        transform: scale(1.05);
        .icon-button-action {
            svg {
                fill: var(--hoverTextColor);
            }
        }
    }
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%,-50%,0);
        background: rgba(white,.2);
        border-radius: 100%;
        transition: width .5s ease, height .5s ease;
    }
    &.active {
        &:after {
            width: 200px;
            height: 200px;
        }
        
    }
    
    // &:focus{
    //     color: white;
    //     background:  rgb(42, 106, 193);
    // }
    // &:hover {
    //     transition: background-color .6s ease;
    // //     color: white;
    // //     background:  rgb(42, 106, 193);
    // }
    // &:active {
    //     &:after {
    //         width: 200px;
    //         height: 200px;
    //     }
    // }
}


.disabled {
    // border: 1px solid #999999;
    // background-color: #cccccc;
    // color: #666666;
    pointer-events: none;
}
