// @import 'src/app/sass/variables';


:host .c21-content ::ng-deep > chat-image  {

    div { 
        margin: 2px auto !important;

        // img {
        //     height: 98%;
        // }
    }  
}

#c21-preview{
    --margin-top: 200px;
    --margin-left: 50px;
    --margin-right: 50px;
    --header-height: 40px;

    --modal-height: 240px;
    --modal-width: 80%;

    --content-height: 160px;
    --border-radius: #{var(--chat-footer-border-radius)};

    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 25;

    .modal-preview-image {
        
        width: auto;
        height: auto;
        min-height: var( --modal-height);
        min-width: 100px;
        max-width: 80%;
        border-radius: var(--border-radius);
        font-size: 1.2em;
        line-height: normal;
        overflow: hidden;
        // border: 1px solid #d7d7d7;  
        background-color: #ffffff; 
        z-index: 25;
        margin: auto;
        margin-top: var(--margin-top);
        
    }
    
    .c21-header{
        height: calc( var(--header-height));
        width: var(--modal-width);
        position: fixed;
        top: var(--margin-top);

        // -webkit-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.4);
        // -moz-box-shadow: 0 3px 5px -3pxrgba(0, 0, 0, 0.4);
        // box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.4);
        .c21-header-container{
            // height: var(--header-height);
            height: calc( var(--header-height));
            // margin: inherit;
            
            .c21-header-content {
                .c21-title {
                    position: absolute;
                    // left: 50px;
                    // right: 100px;
                    display: inline-block;
                    width: auto;
                    height: 40px;
                    padding: 0px;
                    margin: 0px 10px;
                    font-size: 1.0em;
                    font-weight: 500;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
        
                    .titleText {
                        position: relative;
                        line-height: 40px;
                        text-align: left;
                        font-size: 1em;
                    }
                }

                .c21-header-button{
                    margin: 6px;
                    width: 30px;
                    height: 30px;
                }
            }
        }

        
    }


    .c21-content{
        position: fixed;
        top: calc( var(--margin-top) + var(--header-height));
        width: var(--modal-width);
        height: var(--content-height);

        display: flex;
        justify-content: center;
        align-items: center;
        // img {
        //     border-radius: 8px;
        //     //padding: 3px;
        //     margin-bottom: 0px;
        //     max-width: calc(100% - 6px);
        //     width: auto;
        //     height: auto;
        //     object-fit: cover;
            
        // }
        #c21-contentScroll-preview{
            position: absolute;
            left: 0px;
            right: 10px;
            padding: 10px;
            // display: none;
            opacity: 0;
            -webkit-transition: opacity 0.5s; /* Safari */
            transition: opacity 0.5s;
            transition-timing-function: ease-in;
        }

        #scroll-me-preview {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            top: 0;
            right: 0;

        }
        #scroll-me-preview:hover {
            &::-webkit-scrollbar-thumb {
                background: #777777; 
            }
        }


        #scroll-me-preview {
            scroll-behavior: smooth;
        }
        #scroll-me-preview.withoutAnimation {
            scroll-behavior: unset;
        }

        #img-preview-file-extension {
            text-align: center;
            position: absolute;//relative;
            text-transform: uppercase;
            color: #fff;
            bottom: 30px; //-25px;
            font-weight: 500;
        }
    }

    #c21-footer{
        position: fixed;
        top: calc( var(--margin-top) + var(--header-height) + var(--content-height));
        width: var(--modal-width);
        border-radius: var(--border-radius);
        background: white;

        --heigth: calc( var(--modal-height) - var(--header-height) - var(--content-height));
        --paddingTopBottom: 8px;
        
        display: flex;
        gap: 5px;
        padding: var(--paddingTopBottom) 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        textarea,
        textarea:visited,
        textarea:focus,
        textarea:hover,
        textarea:active{
            all: unset;
        }

        #chat21-main-message-context-preview {
            overflow: hidden;
            word-wrap: break-word;
            resize: horizontal;
            overflow-y: auto;
            box-sizing: border-box;
            color: var(--black);
            min-width: 100%;
            outline: 0;
            resize: none;
            font-size: 1.4em;
            line-height: 1.4em;
            font-weight: 300;
            max-height: 110px;
            min-height: auto;
            height: 20px;
            padding: 0px 12px; //0px 40px 0px 70px; //NEW FOR EMOJII BUTTON
            margin: 10px 0px 10px;
            border: none;

            &::-webkit-scrollbar {
                width: 6px;
                background-color: #00000000!important;
            } 
        
            &:hover {
                &::-webkit-scrollbar-track {
                    background-color: #f9f9f9 !important;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #777777; 
                }
        
            }
        }

        .chat21-textarea-button {
            position: absolute;
            display: block;
            bottom: 22px;
            // width: 20px;
            height: var(--heigth);
            opacity: 0.3;
            cursor: initial;
            &.active {
                opacity: 1;
                cursor: pointer;
            }
        }

        #chat21-button-send {
            right: 8px;
            bottom: var(--paddingTopBottom);
        }

        .visible-text-area {
            pointer-events: auto;
            border-radius: 10px;
            background-color: var(--chat-footer-background-color);
            -webkit-box-flex: 1;
            width: 88%;
        }
        
        .chat21-textarea-button {
            pointer-events: auto;
        }
        .chat21-textarea-button {
            fill: var(--icon-fill-color);
            pointer-events: auto;
        }

        textarea,
        textarea:visited,
        textarea:focus,
        textarea:hover,
        textarea:active{
            all: unset;
        }
    }
    
}